body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfcfc;
}

.container {
    display: flex;
    flex-direction: column;
}

.top {
    margin: 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 50;
    margin: 0;
}

.undertitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20;
    margin: 0;
}

.rowFirst {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.row {
    display: flex;
    flex-direction: row;
}

.row2 {
    display: flex;
    flex-direction: row;
}

.bron {
    font-size: 8px;
}

.column {
    flex: 50%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}

.column3 {
    flex: 33%;
    text-align: center;
    padding: 2%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    top: 15%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

.gif {
    width: 100%;
    margin: auto;
}

.button {
      width: 20%;
      padding: 4%;
      background-color: #347BD8;
      box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.2);
      font-weight:bold;
      text-decoration:none;
      color: white;
}

#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

#loginScreen {
    height:80%;
    width:60%;
    margin:0 auto;
    position: fixed;
    left: 18.5%;
    top: 5.5%;
    z-index:10;
    display:none;
    background-color: white;
    border:5px solid #cccccc;
    border-radius:10px;
    padding: 2%;
    font-size: 14px;
    text-align: left;
}

#loginScreen1 {
    height:80%;
    width:75%;
    margin:0 auto;
    position: fixed;
    left: 10.5%;
    top: 5.5%;
    z-index:10;
    display:none;
    background-color: white;
    border:5px solid #cccccc;
    border-radius:10px;
    padding: 2%;
    font-size: 14px;
    text-align: left;
}

#loginScreen2 {
    height:80%;
    width:75%;
    margin:0 auto;
    position: fixed;
    left: 10.5%;
    top: 5.5%;
    z-index:10;
    display:none;
    background-color: white;
    border:5px solid #cccccc;
    border-radius:10px;
    padding: 2%;
    font-size: 14px;
    text-align: left;
}

#loginScreen:target, #loginScreen:target + #cover {
    display:block;
    opacity:2;
}

#loginScreen1:target, #loginScreen1:target + #cover {
    display:block;
    opacity:2;
}

#loginScreen2:target, #loginScreen2:target + #cover {
    display:block;
    opacity:2;
}

.cancel {
    display:block;
    position:absolute;
    top:2px;
    right:2px;
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

.facebook {
    border: 3px solid #347BD8;

}

.fifa {
    border: 3px solid #347BD8;
}

.candy {

    border: 3px solid #347BD8;
}

.foto {
    width: 60%;
    padding-top: 20%;
    padding-bottom: 30%;
}